$("#new_comment").hide();
$("#writeComment").prepend("<%= j render @comment %>");
$(".add-review").hide();
$(".thank").html("<p> Thank you for your review! </p>");
$("#average-rating").attr('data-score', "<%= @product.average_rating %>");
//$('.product-reviews').html("<%= j render 'products/comments', locals: {comments: @comments }%>");
$('#highest-rating-comment').html("<%= j render partial: 'comments/comment', locals: {comment: @product.highest_rating_comment}%>");
$('#lowest-rating-comment').html("<%= j render partial: 'comments/comment', locals: {comment: @product.lowest_rating_comment}%>");

refreshRating() ;