<div class="contact">
  <div class="container-fluid header">
    <h1>Contact Us</h1>
    <%= flash[:notice] %>

    <%= form_tag("/simple_pages/thank_you") do %>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= label_tag :name %>
              <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", required: "true"%>
            </div><!--name-->
            <div class="form-group">
              <%= label_tag :email, "Email Address" %>
              <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", required: "true", type: "email" %>
            </div><!--email-->
            <div class="form-group">
              <%= label_tag :message %>
              <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", required: "true" %>

              <button class="btn">
                <%= submit_tag "Send", class: 'btn', style: 'border: none' %>
              </button>
    <% end %>
    </div><!--message-->
    </div><!--div-->
    </div><!--row-->
  </div><!--container header-->

</div>