<div class="Container-fluid">
<p id="notice"><%= notice %></p>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div id="prod-img">
        <%= image_tag(@product.image_url, class: "img-responsive") %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2 id="prod-name"><%= @product.name.upcase %></h2>
      <p>
        <strong>description</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %> €
      </p>

      <p>
        <strong>colour:</strong>
        <%= @product.colour %>
      </p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

</div>
    </div>
  </div>
  </div>