<!DOCTYPE html>
<html>
  <head>
    <title>Taskone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<body>
<nav>
  <ul>
    <li><%= link_to 'Home', simple_pages_index_path%></li>
    <li><%= link_to 'Products', products_path%></li>
    
  </ul>
</nav>

<%= yield %>

<footer>
  &copy; wafaa abu dahrouj
</footer>
</body>

