<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <style>
    body {
      padding: 70px;
    }


  </style>
  <body>
  <div class ="container_fluid">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </div>



  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="top-navbar-1">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Home', simple_pages_index_path%></li>
      <li><%= link_to 'Products', products_path%></li>
      <li><%= link_to 'landing Page',simple_pages_landing_page_path%></li>
      <li><%= link_to 'About Us', simple_pages_about_path%></li>
      <li><%= link_to 'Contact', simple_pages_contact_path%></li>
      <li>


        <% if user_signed_in? %>
            <%= link_to('Log out', destroy_user_session_path, method: :delete) %>
        <% else %>
            <%= link_to('Log in', new_user_session_path) %>
        <% end %>

      </li>

      </ul>

    <!-- Search Box -->
    <%= form_tag("/products", method: "get", class:"navbar-form navbar-right") do %>
        <div class="form-group">
          <%= label_tag(:q, "Search for:", class:"hidden") %>
          <%= text_field_tag(:q, "", type:"text", class:"form-control") %>
        </div>
        <%= submit_tag("Search", class:"btn btn-default") %>
    <% end %>
</div>
  </nav>
    <% if notice %>
        <div id="notice" class="alert alert-warning"><%= notice %></div>
    <% end %>
    <% if alert %>
        <div id="alert" class="alert alert-danger"><%= alert %></div>
    <% end %>


    <%= yield %>
    <div class="footer-copyright">
      <div class="container-fluid">
        © 2017 Copyright: wafaa N. Abu Dahrouj

      </div>
    </div>
   </div>
</body>
</html>